*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;

}

.container{
    max-width: 100%;

}

.header__wrapper{
    width: 100%;
    height: 74px;

}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 250px 0px 250px;

    
}

@font-face {
    font-family: "Roboto-Medium";
    src: url(./Roboto/Roboto-Regular.ttf) format(truetype);
}


.navbar h1{
    font-weight: 400;
    font-size: 27px;
    line-height: 22px;
    color: #1C1C1C;
    padding: 17px 35px;
    font-family: "Roboto-Medium";
}
.navbar-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color:#222222;
    gap: 26px;
}

section{

    height: 471px;
    background-image: url(./img/bg\ img.png);
    background-size: cover;
}

.section-info{
    padding-top: 70px;
    margin-left: 240px;
}
.section-info h2{
    width: 412px;
    font-weight: 400;
    font-size: 38px;
    line-height: 44px;
    color:#fff;

}
.section-info p{
    width: 425px;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color:#fff;
    padding-top: 21px;
}

.section_links{
    display: flex;
    align-items:center;
    gap: 37px;
    
}

.section_link_one{
    display: block;
    width: 110px;
    height: 48px;
    background-color:#000;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color:#fff;
    padding: 13px 23px;
    margin-left: 250px;
    margin-top: 25px;

}
.section_link-two{
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color:#000;
    margin-top: 25px;
}
   
.section_all{
    display: flex;
    gap: 68px;

}

.section-right img{
    width: 460px;
    height: 291px;
    padding-top: 70px;

}

  
.brend-title{
    font-weight: 400;
    font-size: 15px;
    color:#fff;
    line-height: 22px;
    text-align: center;
    padding-top: 28px;

}

.brends-img{
    display: flex;
    gap: 37px;
    margin: 0px 350px;

}


.section-brends{
    height: 145px;
    background-color: #3E5C50;


}

.sectiondesc{
    width: 940px;
    height: 918px;
    margin: 0px 250px;
}
.desc-devise h2{
    font-weight: 400;
    font-size: 29px;
    line-height: 36px;
    text-align: center;
    color:#333333;
    margin-top: 69px;

}
.desc-devise p{
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    text-align: center;
    color:#333333;
    margin-top: 10px;


}

.desc-left img{
    width: 460px;
    height: 350px;
    margin-top: 69px;

}
.desc-right{
    margin-top: 69px;

}
.desc-right span{
    display: block;
    width: 22px;
    height: 19px;
    font-size: 20px;
    margin-top: 35px;
}

.desc-right h2{
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    color:#333333;
    margin-top: 11px;

}
.desc-right p{
    width: 389px;
    height: 66px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color:#333333;
    margin-top: 17px;



}

.desc_all{
    display: flex;
    gap: 20px;

}

.section-mobile{
    width: 460px;
    height: 153px;
    margin-top: 14px;
    display: flex;
    gap: 20px;
    align-items:center;


}

.section-mobile span{
    width: 30px;
    height: 30px;
    
}

.section-mobile h2{
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    color:#333333;
    margin-top: 14px;


}
.section-mobile  p{
    width: 389px;
    height: 66px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color:#333333;
    margin-top: 16px;


}

.mobile-right{
    width: 460px;
    height: 224px;

}

.section-boxes{
    margin-top: 81px;
    display: flex;
    gap: 20px;

}

.section-box h2{
    font-weight: 400;
    font-size: 21px;
    line-height: 30px;
    color:#333333;
    margin-top: 11px;



}

.section-box p{
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color:#333333;
    margin-top: 17px;

}
.section-plans{
    width: 940px;
    height: 547px;
    margin-top: 99px;

}
.section-subtitle{
    font-weight: 400;
    font-size: 29px;
    line-height: 36px;
    text-align: center;
    color:#333333;

}

.section-information{
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    text-align: center;
    color:#333333;
    margin-top: 10px;


}

.plans-boxes{
    display: flex;
    justify-content: space-around;
    gap: 20px;

}
.plans-box{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.plans-box h2{
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    color:#2B2B2B;
    margin-top: 86px;


}
.plans-box span{
    color:#489FD9;
    font-size: 19px;
    font-weight: 400;
    line-height: 22px;
    margin-top: 15px;


}


.section-ios{
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color:#C7C5C5;

}
.btn{
    width: 186px;
    height: 42px;
    background-color:#000;
    color:#fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    margin-top: 19px;
    padding: 9px 45px;
}

.plans-links{
    display: flex;
    align-items:center;

}

.plans-links p{
    width: 358px;
    height: 22px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    margin-top: 20px;
    margin-left: 252px;


}
.plans-link a{
    display: block;
    margin-top: 20px;
    font-size: 15px;
    text-align: center;
    color:#489FD9;
    

}
.section-about h3{
    margin-top: 69px;
    font-weight: 400;
    font-size: 29px;
    line-height: 36px;
    text-align: center;
    color:#333333;

}
.section-about p{
    width: 752px;
    height: 93px;
    font-weight: 400;
    font-size: 25px;
    line-height: 31px;
    text-align: center;
    color:#333333;
    margin-top: 45px;
}

    .section-about img{
        width: 70px;
        height: 70px;
        margin-top: 22px;
        margin-left: 435px;


    }
    .section-about h4{
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        color:#333333;
        margin-top: 12px;

    }
.brands {
    width: 1400px;
    height: 156px;
    background-color: #A1BFD4;

}